@import "tailwindcss";

@theme {

    /* Paleta de colores */

    --color-primary-ccv: #2563EB;

    /* Spacing */
    --spacing-sidebar-w: 11rem;  
}

:root {
    --navbar-height: 4.5rem;
    --sidebar-width: 15rem; 
    --content-width: calc(100vw - var(--sidebar-width))
}